.header{
    background-color: #2e6ec2;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}
/* h3{
    position: absolute;
    margin-top: 10px;
} */
.header__logo{
    width: 100px;
    margin: 0 20px;
    margin-top: 13px;
    margin-bottom: 8px;
    object-fit: contain;
}
.header__search{
    display: flex;
    flex: 1;
}
.header__searchInput{
    height: 12px;
    padding: 10px;
    /* border-radius: 20px; */
    width: 100%;
    border: none;
   
}
.header__searchInput:active{
    border: none;
}
.header__searchIcon{
    padding: 5px;
    height: 22px !important;
    background-color: #51db5c;
}
.header__option{
    display:flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}
.header__nav{
    display: flex;
    justify-content: space-evenly;
}
.header__link{
    color: white;
    text-decoration: none;
}
.header__optionLineOne{
    font-size: 10px;
}
.header__optionLineTwo{
    font-size: 10px;
    font-weight: 800;
}
.header__optionBasket{
    display: flex;
    align-items: center;
}
.header__productCount{
    margin-left: 7px;
    margin-right: 7px;
}
