*{
  margin: 0;
}
.filterdata{
  background-color: black;
  color: white;
  margin-top: 40px;
  width: 200px;
  margin-left: 1300px;
  height: 30px;
  position: absolute;
 display: flex;
 align-items: center;
 justify-content: center;
 /* left: 50%; */
 /* margin-right: -50%; */
 /* transform: translate(-50%, -50%) */
}